### Importación de datos

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

ModuleNotFoundError: No module named 'pandas'

#1. Análisis de facturación

In [101]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [104]:
# Clasificamos las tiendas
valores = ['tienda1','tienda2','tienda3','tienda4']
for df, valor in zip([tienda, tienda2, tienda3, tienda4], valores):
    df['tienda'] = valor

In [102]:
# Clasificamos las tiendas
valores = ['tienda_1', 'tienda2', 'tienda3', 'tienda4']
for df, valor in zip([tienda, tienda2, tienda3, tienda4], valores):
    df['tienda'] = valor

In [110]:
tiendas = pd.concat([tienda, tienda2, tienda3, tienda4])
tiendas.columns = tiendas.columns.str.lower()
tiendas = tiendas.rename(columns={'fecha de compra':'fecha',
                                  'categoría del producto':'categoria_producto',
                                  'método de pago':'metodo_pago',
                                  'costo de envío':'costo_envio',
                                  'lugar de compra':'lugar_compra',
                                  'cantidad de cuotas':'cantidad_cuotas'})

tiendas['fecha'] = pd.to_datetime(tiendas['fecha'], format='%d/%m/%Y')
tiendas.head()

,producto,categoria_producto,precio,costo_envio,fecha,vendedor,lugar_compra,calificación,metodo_pago,cantidad_cuotas,lat,lon,tienda
0,Asistente virtual,Electrónicos,164300.0,6900.0,2021-01-16,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175,tienda1
1,Mesa de comedor,Muebles,192300.0,8400.0,2022-05-18,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359,tienda1
2,Juego de mesa,Juguetes,209600.0,15900.0,2021-03-15,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444,tienda1
3,Microondas,Electrodomésticos,757500.0,41000.0,2022-05-03,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250,tienda1
4,Silla de oficina,Muebles,335200.0,20200.0,2020-11-07,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359,tienda1

# 2. Ventas por categoría

In [117]:
print("Ventas por categoria de producto:")
display(tiendas['categoria_producto'].value_counts())
display(f"Cantidad de categorias: {tiendas['categoria_producto'].nunique()}")

Ventas por categoria de producto:

categoria_producto
Muebles                    1886
Electrónicos               1772
Juguetes                   1290
Electrodomésticos          1149
Deportes y diversión       1113
Instrumentos musicales      753
Libros                      742
Artículos para el hogar     730
Name: count, dtype: int64

'Cantidad de categorias: 8'

In [125]:
# Mayor cantidad de categorias vendida por tienda

valores = ['tienda1','tienda2','tienda3','tienda4']

print("Categorias mas vendidas por tienda:")
for tienda in valores:
    top = tiendas[tiendas['tienda'] == tienda]['categoria_producto'].value_counts().head(1)
    categoria = top.index[0]
    cantidad = top.values[0]
    display(f"{tienda} - {categoria}: {cantidad}")

print("Categorias menos vendidas por tienda: ")
for tienda in valores:
    bottom = tiendas[tiendas['tienda'] == tienda]['categoria_producto'].value_counts().tail(1)
    categoria = bottom.index[0]
    cantidad = bottom.values[0]
    display(f"{tienda} - {categoria}: {cantidad}")

Categorias mas vendidas por tienda:

'tienda1 - Muebles: 465'

'tienda2 - Muebles: 442'

'tienda3 - Muebles: 499'

'tienda4 - Muebles: 480'

Categorias menos vendidas por tienda:

'tienda1 - Artículos para el hogar: 171'

'tienda2 - Artículos para el hogar: 181'

'tienda3 - Artículos para el hogar: 177'

'tienda4 - Instrumentos musicales: 170'

# 3. Calificación promedio de la tienda

In [126]:
tiendas.sample(2)

,producto,categoria_producto,precio,costo_envio,fecha,vendedor,lugar_compra,calificación,metodo_pago,cantidad_cuotas,lat,lon,tienda
1778,Batería,Instrumentos musicales,997500.0,53300.0,2020-05-09,Ángel Rodriguez,Bogotá,1,Tarjeta de crédito,1,4.60971,-74.08175,tienda2
688,Sofá reclinable,Muebles,729500.0,39900.0,2022-09-25,Santiago Silva,Cali,4,Nequi,1,3.43722,-76.52250,tienda4

# 4. Productos más y menos vendidos

In [128]:
valores = ['tienda1','tienda2','tienda3','tienda4']

print("Productos mas vendidos por tienda:")
for tienda in valores:
    top = tiendas[tiendas['tienda'] == tienda]['producto'].value_counts().head(1)
    categoria = top.index[0]
    cantidad = top.values[0]
    display(f"{tienda} - {categoria}: {cantidad}")

print("Productos menos vendidos por tienda: ")
for tienda in valores:
    bottom = tiendas[tiendas['tienda'] == tienda]['producto'].value_counts().tail(1)
    categoria = bottom.index[0]
    cantidad = bottom.values[0]
    display(f"{tienda} - {categoria}: {cantidad}")

Productos mas vendidos por tienda:

'tienda1 - Microondas: 60'

'tienda2 - Iniciando en programación: 65'

'tienda3 - Kit de bancas: 57'

'tienda4 - Cama box: 62'

Productos menos vendidos por tienda:

'tienda1 - Celular ABXY: 33'

'tienda2 - Juego de mesa: 32'

'tienda3 - Bloques de construcción: 35'

'tienda4 - Guitarra eléctrica: 33'

# 5. Envío promedio por tienda